Repository SixOnMyface/ydb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ydb-platform/ReleaseApprovers, @ydb-platform/ci, @ydb-platform/changelog-reviewers, @ydb-platform/docs

Revert "EXT-1423 audit trace merge stream-nb-25-1"
  ydb/core/mon/audit/audit.cpp
  ydb/core/mon/audit/audit.h
  ydb/core/mon/events_internal.h
  ydb/core/mon/mon.cpp
  ydb/core/mon/mon.h
  ydb/core/mon/mon_ut.cpp
  ydb/core/mon/ut/ya.make
  ydb/core/mon/ut_utils/ut_utils.cpp
  ydb/core/mon/ut_utils/ut_utils.h
  ydb/core/mon/ut_utils/ya.make
  ydb/core/mon/ya.make
  ydb/core/viewer/ut/ya.make
  ydb/core/viewer/viewer_ut.cpp
Owners: @ydb-platform/ReleaseApprovers

Docsup 112917 removing asynchronous replication (#24749)
  ydb/docs/en/core/concepts/async-replication.md
  ydb/docs/ru/core/concepts/async-replication.md
Owners: @ydb-platform/docs

audit log en
  ydb/docs/en/core/security/audit-log.md
Owners: @ydb-platform/docs

fixing build
  ydb/core/kqp/runtime/kqp_fulltext_tokenize.cpp
Owners: @ydb-platform/ReleaseApprovers

add more FulltextAnalyze
  ydb/core/kqp/compute_actor/kqp_compute_actor.cpp
  ydb/core/kqp/expr_nodes/kqp_expr_nodes.json
  ydb/core/kqp/runtime/kqp_compute.cpp
  ydb/core/kqp/runtime/kqp_compute.h
  ydb/core/kqp/runtime/kqp_fulltext_tokenize.cpp
  ydb/core/kqp/runtime/kqp_fulltext_tokenize.h
  ydb/core/kqp/runtime/kqp_program_builder.cpp
Owners: @ydb-platform/ReleaseApprovers

extract fulltext phy
  ydb/core/kqp/opt/physical/effects/kqp_opt_phy_effects_impl.h
  ydb/core/kqp/opt/physical/effects/kqp_opt_phy_fulltext_index.cpp
  ydb/core/kqp/opt/physical/effects/kqp_opt_phy_insert_index.cpp
  ydb/core/kqp/opt/physical/effects/ya.make
Owners: @ydb-platform/ReleaseApprovers

clean up tests
  ydb/core/kqp/ut/indexes/kqp_indexes_fulltext_ut.cpp
Owners: @ydb-platform/ReleaseApprovers

add returning tests
  ydb/core/kqp/ut/indexes/kqp_indexes_fulltext_ut.cpp
Owners: @ydb-platform/ReleaseApprovers

fixes
  ydb/core/kqp/runtime/kqp_program_builder.cpp
Owners: @ydb-platform/ReleaseApprovers

revert 3034d4f47af3028995e4a2e228185c0e497f8fbe
  ydb/core/kqp/opt/physical/effects/kqp_opt_phy_fulltext_index.cpp
Owners: @ydb-platform/ReleaseApprovers

revert f922841fc41f340637ecccada943a8ff71f5df2c
  ydb/core/kqp/opt/physical/effects/kqp_opt_phy_fulltext_index.cpp
Owners: @ydb-platform/ReleaseApprovers

fix naming
  ydb/core/kqp/runtime/kqp_compute.cpp
  ydb/core/kqp/runtime/kqp_fulltext_analyze.cpp
  ydb/core/kqp/runtime/kqp_fulltext_analyze.h
  ydb/core/kqp/runtime/ya.make
Owners: @ydb-platform/ReleaseApprovers

remove extra dq diff
  ydb/core/kqp/runtime/kqp_compute.cpp
Owners: @ydb-platform/ReleaseApprovers

better switch-case
  ydb/core/kqp/opt/physical/effects/kqp_opt_phy_insert_index.cpp
Owners: @ydb-platform/ReleaseApprovers

Update muted YA file for main
  .github/config/muted_ya.txt
Owners: @ydb-platform/ci

Update muted YA file for stable-25-2
  .github/config/muted_ya.txt
Owners: @ydb-platform/ci

Update muted YA file for stable-25-2-1
  .github/config/muted_ya.txt
Owners: @ydb-platform/ci

Update muted YA file for stable-25-3-1
  .github/config/muted_ya.txt
Owners: @ydb-platform/ci

Update muted YA file for stable-25-3
  .github/config/muted_ya.txt
Owners: @ydb-platform/ci

Return "UPSERT INTO RETURNING"
  ydb/docs/en/core/yql/reference/syntax/upsert_into.md
  ydb/docs/ru/core/yql/reference/syntax/upsert_into.md
Owners: @ydb-platform/docs

YDBDOCS-1394-TRANSLATION (#27515)
  ydb/docs/en/core/_assets/resource pool.drawio
  ydb/docs/en/core/_assets/resource_pool.png
  ydb/docs/en/core/_assets/resources_weight.drawio
  ydb/docs/en/core/_assets/resources_weight.png
  ydb/docs/en/core/concepts/_assets/recources_weight.png
  ydb/docs/en/core/concepts/_assets/resource_pool.png
  ydb/docs/en/core/concepts/glossary.md
  ydb/docs/en/core/dev/resource-consumption-management.md
  ydb/docs/en/core/dev/toc_p.yaml
  ydb/docs/en/core/devops/observability/monitoring.md
  ydb/docs/en/core/reference/observability/metrics/index.md
  ydb/docs/ru/core/devops/observability/monitoring.md
  ydb/docs/ru/core/public-materials/videos/2025.md
  ydb/docs/ru/core/reference/configuration/query_service_config.md
  ydb/docs/ru/core/yql/reference/syntax/insert_into.md
  ydb/docs/ru/core/yql/reference/syntax/update.md
Owners: @ydb-platform/docs

add config
  .github/workflows/ydbdoc-review.yml
Owners: @ydb-platform/ci

.github/CODEOWNERS:

* @ydb-platform/ReleaseApprovers
/.github @ydb-platform/ci
/CHANGELOG.md @ydb-platform/changelog-reviewers
/ydb/docs/ @ydb-platform/docs
